---
import MainLayout from "../layouts/MainLayout.astro";
import Section from "../components/Section.astro";
import Card from "../components/Card.astro";
import Grid from "../components/Grid.astro";
import Button from "../components/Button.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { FolderSync, ArrowsUpFromLine, Braces } from "lucide-react";
import TechStackGrid from "../components/TechStackGrid.astro";

const values = [
  {
    icon: FolderSync,
    title: "Building with Purpose",
    description:
      "I focus on clean architecture and performance. I build my projects from start to finish because I want to understand the whole system.",
  },
  {
    icon: ArrowsUpFromLine,
    title: "Learning by Shipping",
    description:
      "I do not just watch tutorials. I build real projects instead and handle everything from UI to backend logic.",
  },
  {
    icon: Braces,
    title: "Senior Level Thinking",
    description:
      "My goal is to grow beyond the junior level by studying system design, security and software architecture.",
  },
];
---

<MainLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <!-- HERO -->
  <Section eyebrow='print("Hello World")' align="center" size="lg">
    <h1
      class="text-3xl leading-tight font-bold sm:text-4xl md:text-5xl lg:text-6xl"
    >
      Building <span class="text-accent">Digital Experiences</span> with Clean Code
    </h1>

    <p class="mx-auto mt-6 max-w-2xl text-base text-white/70 md:text-lg">
      I am a junior full stack developer who enjoys building modern web
      applications and writing clean code.
    </p>

    <div class="mt-8 flex flex-col justify-center gap-4 sm:flex-row">
      <Button href="/projects"> View Projects </Button>

      <Button href="/contacts" variant="secondary"> Get In Touch </Button>
    </div>
  </Section>

  <!-- VALUES -->
  <Section align="center" size="md">
    <div class="text-center">
      <h1
        class="text-3xl leading-tight font-bold sm:text-4xl md:text-5xl lg:text-6xl"
      >
        How I <span class="text-accent">Build </span>Software
      </h1>
      <p class="mx-auto mt-6 max-w-2xl text-base text-white/70 md:text-lg">
        Principles I follow while building projects.
      </p>
      <div class="mt-8 flex flex-col justify-center gap-4 sm:flex-row"></div>
    </div>

    <Grid cols={3}>
      {
        values.map((v) => (
          <Card icon={v.icon} title={v.title} description={v.description} />
        ))
      }
    </Grid>
  </Section>

  <TechStackGrid />
</MainLayout>
